

/* body {
    background-color: lightblue;
    font-family: verdana;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
    align-self: center;
    animation-delay: 0s;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    background: rgb(156, 226, 156);
  }

form {

    
      position: absolute;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;
      flex-wrap: wrap;
      overflow: hidden;
}

form::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000,rgb(86, 161, 86),#000);
  animation: animate 5s linear infinite;
}
*/
form span 
{
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
} 
h2{
    
    color: black;
    align-self: center;
   
    display: flex;




    
}